<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <appSettings>
    <add key="connectionString" value="Data Source=.;Initial Catalog=MLCCS;User ID=sa;password=qwe123456789." />
    <add key="DataCount" value="2" />
    <add key="AccessId" value="Yh56fc7XY8zAmmGlMQ6T" />
    <add key="SecrectKey" value="x8BwdxdrOHYIFpP8QZgckh80zw8HewPQdCF0B4xI" />
    <add key="BaseUrl" value="http://menglong.mctech.vip" />
    <add key="OrgId" value="E67B159B-500D-4CD9-8D94-323B0073F8E7" />
    <add key="_OrgId" value="463869819727872" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
